body{
	background-color:black;
}
.square{
	width: 20px;
    height: 20px;
    display: inline-block;
    background-color: grey;
	margin:2px;
}
.square:hover{
	background-color: red;
	cursor:pointer;
}